<!--mediabar-->
<div class="tthead">
  <h4>The Team</h4>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag("mak1.jpg", :class => "img-responsive") %>
      </a>

      <div class="media-body">
        <h4 class="media-heading">Developer</h4>
        <p>Akena Kenedy</p>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag("mwk1.jpg", :class => "img-responsive") %>
      </a>

      <div class="media-body">
        <h4 class="media-heading">Developer</h4>
        <p>Wekesa Andrew</p>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag("madk1.jpg", :class => "img-responsive") %>
      </a>

      <div class="media-body">
        <h4 class="media-heading">Analyst</h4>
        <p>Adikini Joyce</p>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag("mbk1.jpg", :class => "img-responsive") %>
      </a>

      <div class="media-body">
        <h4 class="media-heading">Developer</h4>
        <p>Biko Jeremy Biteete</p>
      </div>
    </div>
  </div>
</div>
<!--/mediabar-->