<!--sidebar-->
<div class="list-group">
  <a href="#" class="list-group-item active">Business Systems and Solutions</a>
  <a href="#" class="list-group-item">Office Automation</a>
  <a href="#" class="list-group-item">Business IT assets</a>
  <a href="#" class="list-group-item">Broadcasting Systems</a>
  <a href="#" class="list-group-item">Mobile Computing Platforms</a>
  <a href="#" class="list-group-item">Business Support Services</a>
</div>
<!--/sidebar-->