<!--sidebar-->
<div class="list-group">
  <a href="#" class="list-group-item active">Company</a>
  <a href="#" class="list-group-item">CEO/ Founder</a>
  <a href="/rainbowconnection/about" class="list-group-item">Team</a>
</div>
<!--/sidebar-->