<% @page_title="about" %>
<div class="banner-head">
  <div class="banner-1"></div>
  <div class="container">
    <h1>CEO</h1>
  </div>
</div>

<!--content-->
<div class="container">
  <div class="worker-note">
    <div class="row">
      <div class="col-md-12">
        <div class="row bread">
          <div class="col-md-2 pad0">
            <p><i class="fa fa-eye"></i> You are here:</p>
          </div>
          <div class="col-md-10">
            <ol class="breadcrumb">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="/rainbowconnection/about"><i class="fa fa-exclamation"></i> About</a></li>
              <li class="active">CEO</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="row row-pad-head">
          <div class="col-md-12">

          </div>
        </div>
        <div class="row row-head-bottom">
          <div class="col-md-12">
            <p class="lead">You are the customer, and you are in the right place.... our
              commitment is to serve you...and give customer
              satisfaction...Choose RCL.</p>
          </div>
        </div>

        <div class="row row-pad">
          <div class="col-md-4">
            <%= image_tag("c1.jpg", :class => "img-responsive") %>

            <div class="badges">
              <h5>Rwendeire Nicholas R. A</h5>
              <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </div>


          </div>
          <div class="col-md-8">
            <h5>Message from CEO/Founding Partner</h5>

            <p class="cool-p">
              Rainbow Connection is an enterprise focussed on enhancing
              human life with Information Technology. At RCL we pride
              ourselves with keeping the eye on the customer
              through our work ethos, world-class professionals,
              supported by top-notch partners in delivering
              truly customer satisfaction. Established in RCL was founded by
              professionals with over 30man years’ experience in the
              ICT, management and Social Services sector with a prime
              focus of delivering service with a dierence through a
              customer-centric business ethos.</p>

            <p class="cool-p">RCL prime focus is to deliver IT solutions with a truly
              professional service, high availability, customer support,
              highest rate of customer returns on investment, and
              innovation delivering a truly unique and satisfying
              experience to our customers. With our world renown
              partners, RCL is empowered to deliver amongst others
              Connectivity Solutions, Mobile Application Platforms,
              Digital Broadcast Solutions, Virtualized platforms and
              storage systems, Field Automation Systems, Turnkey
              ERP systems, Oce Support Systems and Rainbow Care
              – our total customer centric service flagship amongst our
              innovations.</p>

            <p class="cool-p">RCL confidence is in the experience garnered in
              delivering truly customized solutions from our reputable
              and trusted professionals. Our key focus is to be flexible
              in approach whilst being vanguards of the industry best
              practices thus oering a truly holistic business
              experience.</p>


          </div>
        </div>


      </div>
      <div class="col-md-3">
        <%= render(:partial => 'workerbar') %>
        <%= render(:partial => 'mediabar') %>

      </div>
    </div>

  </div>
</div>
