<% @page_title="about" %>
<div class="banner-head">
  <div class="banner-1"></div>
  <div class="container">
    <h1>Company</h1>
  </div>
</div>

<!--content-->
<div class="container">
  <div class="worker-note">
    <div class="row">
      <div class="col-md-12">
        <div class="row bread">
          <div class="col-md-2 pad0">
            <p><i class="fa fa-eye"></i> You are here:</p>
          </div>
          <div class="col-md-10">
            <ol class="breadcrumb">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="/rainbowconnection/about"><i class="fa fa-exclamation"></i> About</a></li>
              <li class="active">CEO</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="row row-pad-head">
          <div class="col-md-12">

          </div>
        </div>
        <div class="row row-head-bottom">
          <div class="col-md-12">
            <p class="lead">Our focus on relevance is to ensure our products and services formed into solutions meet
              the unique customer needs in delivering automation and productivity enhancement.</p>
          </div>
        </div>

        <div class="row row-pad">
          <div class="col-md-12">
            <div class="col-md-4">
              <%= image_tag("cmpny1.jpg", :class => "img-responsive") %>

            </div>
            <div class="col-md-8">
              <h5>Message from CEO/Founding Partner</h5>

              <p class="cool-p">
                Rainbow Connections is a Ugandan Information Technology solutions provider focusing on delivering
                custom-tailored solutions to our clientele. Established in March 1999, Rainbow Connections has its roots
                in decades of experience in the ICT and Business sector in Uganda through its founders and was establish
                to provide cutting edge business solutions in IT including Application Delivery Solutions, Cloud
                Computing Platforms, Mobile Applications & Field Automation Solutions, Information Security
                Provisioning, Oce Automation Solutions and Connectivity Platforms.</p>

              <p class="cool-p">Rainbow Connections prides itself with top-notch world-class manufacturers and
                developers that have a
                renowned reputation in the market. Our confidence is further grounded in the professional team of highly
                skilled, experienced and accredited engineers and technicians. At Rainbow Connection our ethos that
                focuses on customer joy a virtue that only demands excellence making us a viable choice.</p>

              <p class="cool-p">Rainbow Connection is focused on delivering a truly satisfying experience, and has the
                combined
                synergies of an able team with the right attitude, partners with impeccable testimony, a customer driven
                business agenda and the right tools to deliver a wining customer feeling – Customer satisfaction.</p>

              <div class="row banner-theme">

              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="col-md-3">
        <%= render(:partial => 'workerbar') %>
        <%= render(:partial => 'mediabar') %>

      </div>
    </div>

  </div>
</div>
