<% @page_title="contact" %>
<div class="banner-head">
  <div class="banner-1"> </div>
  <div class="container">
    <h1>Contact</h1>
  </div>
</div>
<!--content-->
<div class="container">
  <div class="contact">
    <div class="contact-form">
      <div class="col-md-8 contact-grid">
        <form>
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Subject">
          <textarea placeholder="Message" required></textarea>

          <div class="send">
            <input type="submit" value="Send">
          </div>
        </form>
      </div>
      <div class="col-md-4 contact-in">
        <h2>Get In Touch With Us</h2>

        <p>RCL maintains a proactive work attitude, which is focused on a systematic approach in the
          focuses on right solutions, in time, and working with constant customer engagement for Customer
          satisfaction.</p>

        <div class="address-grid">
          <h5>Address</h5>

          <p><b>Rainbow Connection Uganda Ltd</b></p>

          <p>Plot 722, Namuli Road,Bukoto H</p>

          <p>P.O. Box 29927, Kampala, Uganda</p>

          <p><strong>Mobile:</strong> 0392178633</p>
          <a href="mailto:mail@example.com">Contact@example.com</a>

        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4057572.793691796!2d-46.55618190500178!3d-6.711931372960014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92d82ab73299951b%3A0xd604633f89a20a97!2sCarolina+-+MA%2C+Brazil!5e0!3m2!1sen!2sin!4v1435910156446" allowfullscreen=""></iframe>
    </div>
  </div>
</div>